{% extends 'layouts/main.html' %}

{% from 'nationalarchives/components/breadcrumbs/macro.njk' import tnaBreadcrumbs %}
{% from 'nationalarchives/components/button/macro.njk' import tnaButton %}
{% from "nationalarchives/components/search-field/macro.njk" import tnaSearchField %}

{% set pageTitle = 'Was this page helpful?' %}

{% block beforeContent %}
<div class="tna-container">
  <div class="tna-column tna-column--full">
    {{ tnaBreadcrumbs({
      items: [
        {
          text: 'Home',
          href: '/'
        },
        {
          text: 'ETNA',
          href: '/588c1222-5bdf-40db-9d84-29ffe6e3bb91'
        },
        {
          text: 'Prompts',
          href: '/588c1222-5bdf-40db-9d84-29ffe6e3bb91/prompts'
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <hgroup class="tna-hgroup-xl">
          <p class="tna-hgroup__supertitle">Prompt</p>
          <h1 class="tna-hgroup__title">{{ pageTitle }}</h1>
        </hgroup>
      </div>
    </div>
    <div class="tna-container">
      <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--padding-top-l">
        <h2 class="tna-heading-l">On this page</h2>
        <ul class="tna-ul">
          <li>
            <a href="#details">Details</a>
          </li>
          <li>
            <a href="#responses">Responses</a>
          </li>
          <li>
            <a href="#top-urls">Top 5 URLs</a>
          </li>
        </ul>
      </div>
      <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-!--padding-top-l">
        <h2 class="tna-heading-l" id="details">Details</h2>
        <dl class="tna-dl">
            <dt>URL pattern</dt>
            <dd>/catalogue/*</dd>
            <dt>Status</dt>
            <dd>Active
              {{ tnaButton({
                text: "Deactivate",
                buttonElement: true,
                small: true
              }) }}</dd>
            <dt>Type</dt>
            <dd>Binary</dd>
            <dt>Options</dt>
            <dd>Yes</dd>
            <dd>No</dd>
            <dt>Created on</dt>
            <dd>2023-09-24</dd>
            <dt>Created by</dt>
            <dd>Andrew Hosgood</dd>
        </dl>
        <h2 class="tna-heading-l" id="responses">Responses</h2>
        {{ tnaSearchField({
          label: "Filter responses by URL",
          headingLevel: 3,
          headingSize: "m",
          id: "search",
          name: "q"
        }) }}
        <div class="tna-table-wrapper">
          <table class="tna-table">
            <thead class="tna-table__head">
              <tr class="tna-table__row">
                <th class="tna-table__header">Option</th>
                <th class="tna-table__header tna-table__cell--numeric">Responses</th>
                <th class="tna-table__header">Percentage</th>
              </tr>
            </thead>
            <tbody class="tna-table__body">
              <tr class="tna-table__row">
                <th class="tna-table__header">Yes</th>
                <td class="tna-table__cell tna-table__cell--numeric">15</td>
                <td class="tna-table__cell tna-table__cell--percentage" style="--percentage: 65%">65%</td>
              </tr>
              <tr class="tna-table__row">
                <th class="tna-table__header">No</th>
                <td class="tna-table__cell tna-table__cell--numeric">8</td>
                <td class="tna-table__cell tna-table__cell--percentage" style="--percentage: 35%">35%</td>
              </tr>
            </tbody>
            <tfoot class="tna-table__foot">
              <tr class="tna-table__row">
                <th class="tna-table__header">Total</th>
                <td class="tna-table__cell tna-table__cell--numeric">23</td>
                <td class="tna-table__cell"></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <h2 class="tna-heading-l" id="top-urls">Top 5 URLs</h2>
        <p>Links open in new windows.</p>
        <div class="tna-table-wrapper">
          <table class="tna-table">
            <thead class="tna-table__head">
              <tr class="tna-table__row">
                <th class="tna-table__header">URL</th>
                <th class="tna-table__header">Responses</th>
              </tr>
            </thead>
            <tbody class="tna-table__body">
              <tr class="tna-table__row">
                <th class="tna-table__header">
                  <a href="https://tna.dblclk.dev/catalogue/id/F35449/" target="_blank">/catalogue/id/F35449/</a>
                </th>
                <td class="tna-table__cell">
                  <a href="/588c1222-5bdf-40db-9d84-29ffe6e3bb91/responses?uri=/catalogue/id/F35449/">2</a>
                </td>
              </tr>
              <tr class="tna-table__row">
                <th class="tna-table__header">
                  <a href="https://tna.dblclk.dev/catalogue/id/A13532704/" target="_blank">/catalogue/id/A13532704/</a>
                </th>
                <td class="tna-table__cell">
                  <a href="/588c1222-5bdf-40db-9d84-29ffe6e3bb91/responses?uri=/catalogue/id/A13532704/">2</a>
                </td>
              </tr>
              <tr class="tna-table__row">
                <th class="tna-table__header">
                  <a href="https://tna.dblclk.dev/catalogue/id/C2699/" target="_blank">/catalogue/id/C2699/</a>
                </th>
                <td class="tna-table__cell">
                  <a href="/588c1222-5bdf-40db-9d84-29ffe6e3bb91/responses?uri=/catalogue/id/C2699/">1</a>
                </td>
              </tr>
              <tr class="tna-table__row">
                <th class="tna-table__header">
                  <a href="https://tna.dblclk.dev/catalogue/id/F203708/" target="_blank">/catalogue/id/F203708/</a>
                </th>
                <td class="tna-table__cell">
                  <a href="/588c1222-5bdf-40db-9d84-29ffe6e3bb91/responses?uri=/catalogue/id/F203708/">1</a>
                </td>
              </tr>
              <tr class="tna-table__row">
                <th class="tna-table__header">
                  <a href="https://tna.dblclk.dev/catalogue/id/F54467/" target="_blank">/catalogue/id/F54467/</a>
                </th>
                <td class="tna-table__cell">
                  <a href="/588c1222-5bdf-40db-9d84-29ffe6e3bb91/responses?uri=/catalogue/id/F54467/">1</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
