{% extends 'layouts/main.html' %}

{% from 'nationalarchives/components/button/macro.njk' import tnaButton %}
{% from "nationalarchives/components/radios/macro.njk" import tnaRadios %}
{% from "nationalarchives/components/text-input/macro.njk" import tnaTextInput %}
{% from "nationalarchives/components/warning/macro.njk" import tnaWarning %}

{% set pageTitle = 'Edit Project' %}

{% block header %}
{{ tnaHeader({
  logo: {
    href: "/",
    strapline: "Feedback"
  },
  navigation: [
    {
      text: "Log out",
      href: "#/logout"
    }
  ],
  topNavigation: topNavigation
}) }}
{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <form action="/588c1222-5bdf-40db-9d84-29ffe6e3bb91" novalidate>
            <h1 class="tna-heading-xl">
            {{ pageTitle }}
            </h1>
            {{ tnaTextInput({
              label: "Name",
              headingLevel: 2,
              headingSize: "m",
              id: "name",
              name: "name",
              hint: "A memorable name for your project",
              value: "ETNA"
            }) }}
            {{ tnaTextInput({
              label: "Domain",
              headingLevel: 2,
              headingSize: "m",
              id: "domain",
              name: "domain",
              hint: "The main domain for your project",
              value: "https://tna.dblclk.dev/"
            }) }}
            {{ tnaRadios({
                label: "Data retention duration",
                headingLevel: 2,
                headingSize: "m",
                id: "retention",
                name: "retention",
                hint: "Data older than this will be periodically deleted",
                items: [
                    {
                        text: "30 days",
                        value: "30"
                    },
                    {
                        text: "90 days",
                        value: "90"
                    },
                    {
                        text: "180 days",
                        value: "180"
                    }
                ],
                selected: "180"
            }) }}
            {{ tnaWarning({
              headingLevel: 3,
              body: "Changing the data retention duration could result in data being deleted."
            }) }}
            <div class="tna-button-group">
              {{ tnaButton({
                text: "Update",
                buttonElement: true,
                buttonType: "submit"
              }) }}
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
