{% extends 'layouts/main.html' %}

{% from 'nationalarchives/components/button/macro.njk' import tnaButton %}
{% from "nationalarchives/components/radios/macro.njk" import tnaRadios %}
{% from "nationalarchives/components/textarea/macro.njk" import tnaTextarea %}
{% from "nationalarchives/components/text-input/macro.njk" import tnaTextInput %}

{% set pageTitle = 'Create a new project' %}

{% block header %}
{{ tnaHeader({
  logo: {
    href: "/",
    strapline: "Feedback"
  },
  navigation: [
    {
      text: "Log out",
      href: "#/logout"
    }
  ],
  topNavigation: topNavigation
}) }}
{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <form novalidate>
            <h1 class="tna-heading-xl">
            {{ pageTitle }}
            </h1>
            {{ tnaTextInput({
              label: "Name",
              headingLevel: 2,
              headingSize: "m",
              id: "name",
              name: "name",
              hint: "A memorable name for your project"
            }) }}
            {{ tnaTextInput({
              label: "Domain",
              headingLevel: 2,
              headingSize: "m",
              id: "domain",
              name: "domain",
              hint: "The main domain for your project"
            }) }}
            {{ tnaRadios({
                label: "Data retention",
                headingLevel: 2,
                headingSize: "m",
                id: "retention",
                name: "retention",
                hint: "Data older than this will be periodically deleted",
                items: [
                    {
                        text: "30 days",
                        value: "30"
                    },
                    {
                        text: "90 days",
                        value: "90"
                    },
                    {
                        text: "180 days",
                        value: "180"
                    }
                ]
            }) }}
            {{ tnaTextarea({
              label: "Censored words",
              headingLevel: 2,
              headingSize: "m",
              id: "censored",
              name: "censored",
              hint: "Comma separated list of censored words or phrases that get replaced with asterisks"
            }) }}
            {{ tnaTextarea({
              label: "Blacklisted words",
              headingLevel: 2,
              headingSize: "m",
              id: "blacklist",
              name: "blacklist",
              hint: "Comma separated list of blacklisted words or phrases that result in text feedback being ignored"
            }) }}
            <div class="tna-button-group">
              {{ tnaButton({
                text: "Create project",
                buttonElement: true,
                buttonType: "submit"
              }) }}
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
